[2016-12-09 23:07] jp1017 opened #1 "USBCamera support？"

[2016-12-10 05:34] kevalpatel2106 commented on #1
@jp1017 Can you provide more detail on this issue?

[2016-12-10 10:02] jp1017 commented on #1
For this: https://github.com/saki4510t/UVCCamera

[2016-12-11 05:19] kevalpatel2106 commented on #1
There is no USB camera support in this library. This is out of the scope of this library.

[2016-12-11 05:19] #1 closed

[2016-12-14 10:57] hussainbadri21 opened #2 "setParameters failed"
Unable to set parameters in certain devices(Redmi Note 3)
[code]
removing this code under CamPreview.java fixes the issue.
Can you please remove it and push

[2016-12-14 11:04] kevalpatel2106 commented on #2
@hussainbadri21 Can you send me error log? Why this is not working? Any idea?

[2016-12-14 14:09] hussainbadri21 commented on #2
http://stackoverflow.com/questions/3890381/camera-setparameters-failed-in-android

[2016-12-15 11:52] kevalpatel2106 commented on #2
@hussainbadri21 I checked the sample app on Redmi 3s and it's working correctly. Can you send me the code where you set the camera configurations?

[2016-12-15 12:29] kevalpatel2106 commented on #2
@hussainbadri21 I fixed this issue in commit [8275f09f3784fbd13c5d8d4a9cee89782ea00c71 ](https://github.com/kevalpatel2106/android-hidden-camera/commit/8275f09f3784fbd13c5d8d4a9cee89782ea00c71). Can you confirm that now it is working? I also updated sample apk.

[2016-12-15 15:42] hussainbadri21 commented on #2
Issue is now fixed and the app works as expected. Could you please update the library version with the new changes

[2016-12-15 15:42] #2 closed

[2016-12-15 15:44] kevalpatel2106 commented on #2
@hussainbadri21 Sure I will update it soon.

[2016-12-16 07:34] kevalpatel2106 commented on #2
@hussainbadri21 v1.2 is live with above fix. Check that out.

[2016-12-16 09:35] hussainbadri21 commented on #2
Thanks a lot,everything is working fine now.

    On Friday, December 16, 2016 1:04 PM, Keval Patel <notifications@github.com> wrote:

 @hussainbadri21 v1.2 is live with above fix. Check that out.—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-06 07:59] wisnukurniawan opened #4 "Take picture in second time error"
When i click takepicture in second time. i get error
i think it has been handling in takePicture() method.

[2017-01-06 09:21] kevalpatel2106 commented on #4
@wisnukurniawan Can you tell me which error you are getting? Post your staketrace if possible.

[2017-01-06 09:29] wisnukurniawan commented on #4
![takepicture-method](https://cloud.githubusercontent.com/assets/16729158/21713597/451ea008-d42d-11e6-9ca4-7d80252682bc.JPG)

[2017-01-06 09:31] wisnukurniawan commented on #4
to handle that i put this
`                if (myImage== null)  takePicture();
`

[2017-01-06 09:32] kevalpatel2106 commented on #4
@wisnukurniawan I will look into this and get back to you.

[2017-01-17 06:00] kevalpatel2106 commented on #4
@wisnukurniawan Updated the source code with the fix. Can you recheck the issue with updated source code?

[2017-01-18 02:52] wisnukurniawan commented on #4
how to update the library?

[2017-01-18 03:08] kevalpatel2106 commented on #4
@wisnukurniawan You can add the library as a module in you project instead of the gradle dependency.

[2017-01-19 10:01] #4 closed

[2017-01-19 10:08] kevalpatel2106 commented on #4
@wisnukurniawan I will publish the updated version soon.

[2017-01-19 10:10] wisnukurniawan commented on #4
Thankyou @kevalpatel2106  youre da MVP (y)

[2017-01-19 11:34] kevalpatel2106 commented on #4
Fixed in [v1.2.1](https://github.com/kevalpatel2106/android-hidden-camera/releases/tag/v1.2.1)

[2017-02-20 18:53] passiondroid opened #5 "App crashing when calling takePicture()"
`FATAL EXCEPTION: main
                                                                Process: , PID: 3794
                                                                java.lang.RuntimeException: Unable to start service tarun0.gyananter.CaptureService@7a5c685 with Intent { cmp=tarun0.gyananter/.CaptureService }: java.lang.RuntimeException: takePicture failed

[2017-02-20 18:57] passiondroid opened #6 "App crashing when calling takePicture()"
[code]

[2017-02-20 18:58] #5 closed

[2017-02-20 19:06] kevalpatel2106 commented on #6
@passiondroid Can you please tell me the steps to reproduce the bug?

[2017-02-20 19:11] passiondroid commented on #6
@kevalpatel2106 It started coming today only. Earlier it was not crashing. I am using HiddenCameraService and when takePicture() is called within the service from onStartCommand(). It throws exception with logs

[2017-02-21 13:20] kevalpatel2106 commented on #6
@passiondroid On which device you were testing?

[2017-02-21 13:21] passiondroid commented on #6
@kevalpatel2106 Moto G4 plus

[2017-02-21 13:22] kevalpatel2106 commented on #6
Great! Let me check the problem. Meanwhile if you find the issue, you can always generate PR.

[2017-02-21 13:26] passiondroid commented on #6
Ok, I will clone the repo from here as soon as i get some time. I dont know why it stopped working. It was working fine earlier.

[2017-02-21 13:37] kevalpatel2106 commented on #6
Are you using v1.3? or 1.2.1?

[2017-02-21 13:46] passiondroid commented on #6
I am using 1.2.1

[2017-02-21 13:49] kevalpatel2106 commented on #6
Can you test if this issue still occues in v1.3? I made some changes in v1.3. (See commit : https://github.com/kevalpatel2106/android-hidden-camera/commit/73ce010210641ae5421c924983f2997fecea0723)

[2017-02-21 13:51] passiondroid commented on #6
I am still getting the same exception after changing to 1.3

[2017-02-28 04:24] kevalpatel2106 opened #7 "Attempt to invoke virtual method 'void android.hardware.Camera.setDisplayOrientation(int)' on a null object reference"
Exception java.lang.NullPointerException: Attempt to invoke virtual method 'void android.hardware.Camera.setDisplayOrientation(int)' on a null object reference
com.a.c.surfaceCreated ()
android.view.SurfaceView.updateWindow (SurfaceView.java:709)
android.view.SurfaceView$3.onPreDraw (SurfaceView.java:208)
android.view.ViewTreeObserver.dispatchOnPreDraw (ViewTreeObserver.java:1018)
android.view.Vie

[2017-03-05 09:06] mubasoft opened #8 "App crashing when initializing Activity"
FATAL EXCEPTION: main
                                                                                               Process: com.example.mubashshir.screenlock_usesmartway, PID: 22058
                                                                                               java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.mubashshir.screenlock_usesmartway/com.exam

[2017-03-06 06:42] mubasoft commented on #8
@kevalpatel2106  please have a look at this. I exactly imported your project. why i am getting this error?

[2017-03-06 06:47] kevalpatel2106 commented on #8
@mubasoft As the error suggest, the layout of your activity/fragment should not have `FrameLayout` as the root tag. It should be `RelativeLayout` or `LinearLayout`.

[2017-03-06 13:00] mubasoft commented on #8
@kevalpatel2106  but i am not using frame layout anywhere in my project.

[2017-03-07 19:49] mubasoft commented on #8
But i am not using frame layout anywhere then why i am getting this error?

[2017-03-08 15:52] #8 closed

[2017-03-08 15:54] mubasoft commented on #7
@kevalpatel2106  Did u find any solution for this bug?

[2017-03-11 21:32] karthikn-jay opened #9 "app passed NULL surface"
There is some delay when the HiddenCameraService is started (please refer 1st and 2nd lines from below log).

Then after a while (about 5-10 seconds), the image is captured (pls refer 3rd line in the below log)

D/Camera: app passed NULL surface
I/Choreographer: Skipped 47 frames!  The application may be doing too much work on its main thread.
D/Image capture: 1376498

Device: Moto G4+

[2017-03-13 16:28] garrettlangley opened #10 "Is it possible to have the camera take multiple pictures?"
I tried calling `takePicture()` within the `onImageCapture` callback but that throws an error...

Any suggestions?

[2017-03-13 21:10] #10 closed

[2017-03-13 21:10] garrettlangley opened #11 "Plans to upgrade to Camera2"
@kevalpatel2106 any plans to migrate this to Camera2 now that Camera is deprecated?

[2017-04-10 08:05] depri opened #12 "Always Error Null Pointer After Application Resume"
hello @kevalpatel2106 I got some problem here, I always got this error when my apps got onResume, I used version 1.3.1

                                                                                                java.lang.NullPointerException: Attempt to invoke virtual method 'android.hardware.Camera$Parameters android.hardware.Camera.getParameters()' on a null object reference

[2017-04-11 03:32] kevalpatel2106 commented on #11
@garrettlangley As of now, I don't have time to migrate the library to Camera2 API. But if you can, I will be happy to merge PR.

I did not work on Camera2 API. Will it be supported by API < 20? Is it backward compatible?

[2017-04-11 03:36] kevalpatel2106 commented on #7
Fix in next release.

[2017-04-11 03:36] #7 closed

[2017-04-11 03:41] kevalpatel2106 commented on #9
This is because, in the source code of the sample apk, it is programmed to capture the image after 10 seconds. This is not a bug.😊

[2017-04-11 03:41] #9 closed

[2017-04-11 03:47] kevalpatel2106 commented on #12
@depri Thank you for reporting this issue. I changed the behaviour of the `HiddenCameraFragment.java` and `HiddenCameraActivity.java`. Now both releases the camera on `onPause()` of the activity/fragment.

As I think there is no point to keep acquiring camera if while the app is in the background. If the application wants to capture an image while the app is in the background, it can use `HiddenCa

[2017-04-11 03:53] kevalpatel2106 commented on #6
@passiondroid I made some changes in latest version. Now, `HiddenCameraService` won't allow you to capture multiple photos simultaneously (like burst mode) because the camera is already acquired while capturing the second image.

Basically, `HiddenCameraService` won't allow you to take the second picture until the first picture is captured and processed.

[2017-04-11 05:12] #12 closed

[2017-04-11 06:45] kevalpatel2106 commented on #6
Fix in release v1.3.2.

[2017-04-14 07:38] grape1977 opened #13 "can not takepicture more than one time"
if i want to take picture more times, it fails

[2017-04-14 07:59] grape1977 commented on #13
oK, i resolve it ,u should mCamera.startPreview(); after take picture

[2017-04-14 13:35] kevalpatel2106 commented on #13
@grape1977 Can you generate pull request for the fix?

[2017-04-19 02:55] #11 closed

[2017-05-05 09:22] mianharisali opened #14 "it support both camera and new camera2 API ?"

[2017-05-05 12:21] kevalpatel2106 commented on #14
Currently, it only supports camera API.
See #11

[2017-05-05 12:21] #14 closed

[2017-05-14 10:23] pastillas opened #15 "Good day. I dont know why my app crashes when I add hidden camera through background service. The fragment that uses hidden camera starts using a "new Thread()" approach. :( thanks."
` FATAL EXCEPTION: main  java.lang.RuntimeException: startPreview failed  at android.hardware.Camera.startPreview(Native Method) at com.androidhiddencamera.CameraPreview.surfaceChanged(CameraPreview.java:128) at android.view.SurfaceView.updateWindow(SurfaceView.java:626) at android.view.SurfaceView.access$000(SurfaceView.java:86) at android.view.SurfaceView$3.onPreDraw(SurfaceView.java:178) at and

[2017-06-13 10:26] Corical commented on #7
So when is this 'next release' ?

[2017-06-14 14:09] luangs7 commented on #13
Same issue, where should `mCamera.startPreview(); ` be?

[2017-06-19 17:21] Mateeen opened #16 "Android O permission denied for window type 2006"
`06-19 22:18:06.485 27339-27339/com.example.mateen.gcmtesting E/AndroidRuntime: FATAL EXCEPTION: main
                                                                               Process: com.example.mateen.gcmtesting, PID: 27339
                                                                               java.lang.RuntimeException: Unable to start service com.example.mateen.gcmtesting.ActionS

[2017-06-22 09:24] Mateeen commented on #16
i have found the solution there need to change only one Flag which android O deprecated you may can appreciate me later :P
change your flag Windomanger flag "TYPE_SYSTEM_OVERLAY" to "TYPE_APPLICATION_OVERLAY"
please make these changes in your project to make compatible with upcoming android O

[2017-06-22 16:05] kevalpatel2106 commented on #16
@Mateeen Thank you. I will change this and update this in upcoming release.

[2017-07-06 08:25] sunil-singh-chaudhary opened #17 "getting erro after adding dependency why ?"
Error:Execution failed for task ':secretLocker:processDebugManifest'.

[2017-07-06 13:34] kevalpatel2106 commented on #17
@sunil-singh-chaudhary Can you post full error stack trace?

[2017-07-07 06:04] sunil-singh-chaudhary commented on #17
Information:Gradle tasks [:cropper:generateDebugSources, :cropper:generateDebugAndroidTestSources, :cropper:mockableAndroidJar, :cropper:prepareDebugUnitTestDependencies, :giftlibrray:generateDebugSources, :giftlibrray:mockableAndroidJar, :giftlibrray:prepareDebugUnitTestDependencies, :giftlibrray:generateDebugAndroidTestSources, ::secretLocker:generateDebugSources, ::secretLocker:generateDebugAnd

[2017-07-07 06:07] sunil-singh-chaudhary commented on #17
after getting error i manually added all the files direactly on project but what i can see is no pic is taken service is running demoCamService but didnt go on  @Override
    public void onImageCapture(@NonNull File imageFile) {
        BitmapFactory.Options options = new BitmapFactory.Options();
        stopSelf();
    } this method is never called

[2017-07-24 02:45] kevalpatel2106 commented on #15
@pastillas Can you provide the source code?

[2017-08-24 21:07] utkarshnextgn commented on #2
I Want to take Picture on fixed Interval of time After Every 2 Sec Can You Provide Me the Source code  or any idea about this one.Actually I am trying A lot Of Concept bt not Working.Can You Provide Me Any Idea

[2017-08-24 21:09] utkarshnextgn commented on #2
It Means When I click On Take Photo It Will Start To Take image On Fixed Interval Otherwise iT will take 4 or 5 photos Automatically. proviede me Some Idea I Am really Gratefull to you.
and i need this one Very much

[2017-08-24 21:12] utkarshnextgn commented on #2
And for providing this library thankyou

[2017-08-25 04:42] utkarshnextgn commented on #13
I Want to Take Picture Multiple times But it can Take Only One One Photo And Save One Image

[2017-08-25 04:43] utkarshnextgn commented on #13
Same issue, where should mCamera.startPreview(); be?

[2017-08-25 05:34] grape1977 commented on #13
takePictureInternal function add startPreview

[2017-08-28 11:32] vishvendu opened #18 "RuntimeException: startPreview failed"
Caused by: java.lang.RuntimeException: startPreview failed
  at android.hardware.Camera.startPreview(Native Method)
  at com.androidhiddencamera.CameraPreview.startCameraInternal(CameraPreview.java:158)

[2017-09-07 06:35] jom16antonio commented on #15
use Handler, instead of Thread

[2017-09-07 07:14] kevalpatel2106 commented on #15
@jom16antonio Thanks. Let me try.

[2017-10-13 19:10] jonahhu95 commented on #13
Hi, I'm still facing this issue is there a fix for it??

[2017-10-27 04:09] mikeallgyer commented on #13
I'd love to get a fix for this as well :(

[2017-10-27 04:19] grape1977 commented on #13
????,takePictureInternal->new Thread->Runnable, at the end,add one line: mCamera.startPreview();

[2017-11-14 04:11] kevalpatel2106 commented on #16
This issue is fixed in [8fc5634993bd58e8eafd49a386798ec959ed4bfc](https://github.com/kevalpatel2106/android-hidden-camera/commit/8fc5634993bd58e8eafd49a386798ec959ed4bfc).

[2017-11-14 04:11] #16 closed

[2017-11-24 08:40] proaxel12 commented on #13
how to access my image if i capture it using the service one?
sry i'm new here

[2017-11-26 09:09] viks178 commented on #6
**Maybe the question is still open**
`android.hardware.Camera.native_takePicture (Camera.java)
android.hardware.Camera.takePicture (Camera.java:1473)
android.hardware.Camera.takePicture (Camera.java:1418)
com.androidhiddencamera.CameraPreview.takePictureInternal (CameraPreview.java:196)
com.androidhiddencamera.HiddenCameraService.takePicture (HiddenCameraService.java:95)
com.app.mytest.MyCamServic

[2017-12-06 16:58] iamalimehmood opened #21 "camera rotation is not right, the picture of top of the head is only visible always, no face"
bit late to the party i guess, but there was an issue with the picture, the camera is always focusing above the head of the person.

[2017-12-07 09:24] jitendra1234567 opened #22 "Rear Camera is not woking."

[2017-12-11 19:58] kumailn opened #23 "No way to focus camera"
There needs to be a way to programmatically focus the camera

[2018-01-09 15:34] alexadp1087 opened #24 "ERROR_IMAGE_WRITE_FAILED = 9854;"
Hi, i have the error ERROR_IMAGE_WRITE_FAILED = 9854, i give the write external and internal permission on manifest but i don't understand why i received this error.
Can you help me?
Thank you

[2018-01-16 09:52] Pinjari opened #25 "Hangs in OnePluse 3 T, MI A1 after clicking picture"
I am using this in many devices but in OnePlus device the devie getting hang and it works after restart only,
Solution please

[2018-01-25 12:40] kevalpatel2106 commented on #24
@alexadp1087 Did you asked for the write external storage runtime permission before taking the picture?

[2018-01-26 02:14] Teja-developer opened #26 "Please solve this issue"
android.view.WindowManager$BadTokenException: Unable to add window android.view.ViewRootImpl$W@3e47865 -- permission denied for window type 2006
                                                                   at android.view.ViewRootImpl.setView(ViewRootImpl.java:809)
                                                                   at android.view.WindowManagerGlobal.addView(WindowManagerGlob

[2018-01-29 01:33] luolugithub commented on #7
I encountered the same question，how to solve this problem?

[2018-02-06 01:33] kevalpatel2106 commented on #26
@Teja-developer Can you please explain when this error occurs? Are you using it on the lock screen? What is your android version?

[2018-02-06 01:37] kevalpatel2106 commented on #24
Closing the issue because of inactivity. If you face the same issue feel free to reopen this.

[2018-02-06 01:37] #24 closed

[2018-02-06 01:39] kevalpatel2106 commented on #22
@jitendra1234567 Can you provide more insight on the issue? What error log you are receiving?

[2018-02-06 01:40] kevalpatel2106 commented on #21
@iamalimehmood Can you provide sample images captured using this library to elaborate this issue?

[2018-02-23 17:38] IshanFx opened #27 "App get lag when start camera from service"
When open camera from the service app get freeze some second. Is there any way to run this smoothly? I user Handler and no luck.

[2018-02-25 16:54] IshanFx commented on #27
No, its 5. I thinks it because startcamera run on main thread.

[2018-02-27 08:54] sahityakumarsuman commented on #18
Do you got any solution for this issue

[2018-02-28 05:53] IshanFx opened #28 "It better if the each image save as the seperate image."
In this current version I think when we take new image it replace the previous one. I think it better to create new image file.

[2018-03-07 19:55] dengue8830 commented on #24
Hi! i have the same issue. In android 6 it works, but in android 4 throws an ERROR_IMAGE_WRITE_FAILED

[code]

[2018-03-07 20:43] dengue8830 commented on #24
i could reproduce the problem using the file path shown in the debug console
file name: `/storage/sdcard0/Android/data/com.taxip.app/cache:IMG_1520453738411.jpeg`
problem: `open failed: EINVAL (Invalid argument)`

the filename is invalid in that android's version
[code]

if i change the ':' for a '_' it works

[2018-03-08 21:48] gaynor commented on #27
I am experiencing the same issue. My app locks up after taking a picture from the service.

[2018-03-09 05:54] Vernica1 opened #29 "I need to save the image to the gallery or to any folder. Could you please help?"

[2018-03-13 09:32] jishindev opened #30 "Video"
Any way to do a video recording with this? Any plans on adding that feature?

[2018-03-19 01:57] minionsong commented on #27
Same as me. I tried to use other thread instead of main looper but service cannot get image data from that thread.

[2018-03-28 07:15] singhmeenu opened #32 "First Time Camera not working"
After give the camera permission in DemoCamActivity ,when user click on button to capture the image,It's not working in first time after relaunch the activity its working fine but i want camera work first time when user give the permission. please give me solution thank you and sorry for bad english

[2018-04-06 13:58] Anurag-Taksykraft commented on #16
your Awesome @Mateeen

[2018-04-08 10:25] akxhay commented on #16
@Mateeen Thanks

[2018-04-19 09:32] thuan09878 commented on #6
I'm using v1.3.3 and still facing this problem too. Any idea?

[2018-04-29 17:52] gabrikid96 commented on #27
I have the same problem. When takes the picture freeze the application.
Android version: 8
CameraConfig: REAR_FACING_CAMERA

[2018-05-29 07:13] phoenix7765 opened #33 "Surface memory leak issue"
I got this warning
W/WindowStateAnimator: OutOfResourcesException creating surface
I/WindowManager: Out of memory for surface!  Looking for leaks...
W/WindowManager: No leaked surfaces; killing applicatons!

fix this issue:

add this code in CameraPreview.java

`    void stopAndRelease() {
        //Fix Surface memory leak
        destroyDrawingCache();
        stopPreviewAndFreeCamera();

[2018-06-05 11:23] mun3 opened #34 "Locked screen"
Does this library support capturing when the screen is off and locked?

[2018-06-06 01:03] kevalpatel2106 commented on #34
No. This library doesn't support out of the box. But you can definitely do this by using background service feature in the library.

[2018-06-06 01:03] #34 closed

[2018-06-11 03:02] jaira opened #35 "Able to rename the file name of the generated image file from the Hidden Camera"
Hi Keval :)

Thank you so much for creating this awesome hidden camera library.

I was wondering if we have the mechanism to rename the imageFile generated from the Hidden Camera? :)

Thank you so much for your reply. :)

[2018-06-11 04:53] kevalpatel2106 commented on #35
@jaira You can provide a file to store the captured image using `CameraConfig.Builder#setImageFile()`.  Check out in the source code: https://github.com/kevalpatel2106/android-hidden-camera/blob/master/hiddencamera/src/main/java/com/androidhiddencamera/CameraConfig.java#L75

[2018-06-11 04:53] #35 closed

[2018-06-16 10:23] Kunal1093 opened #36 "Fake surface not getting removed. Not able to do anything on phone after picture is clicked"
In O OS, after the picture is clicked in service, I am not able to access the device until I restart it. I think the fake surface is not getting removed as I am not able to swipe or open any other app, but I am able to access notification panel and also notification is showing in notification panel that my app is displaying over other apps continuously. Please help

[2018-07-05 07:56] Rj-Innocent-Coder opened #37 "always invokes oncameraError Method"

[2018-07-10 21:10] dimawalaadormeo opened #38 "app passed NULL surface"
When running the hidden camera using this code
 mCameraConfig = new CameraConfig()
                .getBuilder(this)
                .setCameraFacing(CameraFacing.FRONT_FACING_CAMERA)
                .setCameraResolution(CameraResolution.HIGH_RESOLUTION)
                .setImageFormat(CameraImageFormat.FORMAT_JPEG)
                .setImageRotation(CameraRotation.ROTATION_270)
                .bu

[2018-07-13 06:29] kevalpatel2106 commented on #23
Added in 3ae9f6d8c9fbede57cde5022aa69697806be005a.

[2018-07-13 06:29] #23 closed

[2018-07-13 07:19] Shouheng88 commented on #6
can this https://stackoverflow.com/questions/21723557/java-lang-runtimeexception-takepicture-failed handle this problem ?

[2018-07-23 12:58] shobhan1595 commented on #27
Same  problem here in Android 8 , Any Idea ???

[2018-08-02 11:10] pavlomelnyk opened #39 "Can't install app on devices that do not support camera autofocus."
Hi.
So not all devices support camera autofocus but the still have camera and can use them.
You have to add
`<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />`
in your manifest so that thous devices can install the app that uses your library.
Repo example that had the same problem. Scroll bottom to see fix.
https://github.com/jitsi/jitsi-meet/issues/1736

B

[2018-08-17 14:29] kevalpatel2106 commented on #39
@pavlomelnyk Thank you for the issue. Can you generate the PR for the fix of this issue?

[2018-08-21 12:05] kevalpatel2106 commented on #39
I fixed this issue in 78c7026e99e1650be387818e916a4243458a667c.

[2018-08-21 12:05] #39 closed

[2018-08-25 11:02] sid96 commented on #6
The problem has been in version 1.3.5...This version an be used to take images in burst mode..use that version instead.

[2018-08-30 11:13] FoxsTail commented on #7
Your camera object is instantiated only if there is no Exception. So, if this exception happens, camera == null.

[2018-09-05 02:19] Rloguzzo commented on #36
up

[2018-09-13 06:17] jstakun opened #40 "Unhandled RuntimeException exception causing app crash"
On one device I receive following exception which is unhandled and causes app crash:

Value: java.lang.RuntimeException: startPreview failed
        at android.hardware.Camera.startPreview(Native Method)
        at com.androidhiddencamera.CameraPreview.surfaceChanged(CameraPreview.java:139)
        at android.view.SurfaceView.updateWindow(SurfaceView.java:580)
        at android.view.SurfaceView.a

[2018-09-20 14:40] rehab101 commented on #38
I'm getting the same error using this block:
`cameraConfig = new CameraConfig()
					.getBuilder(this)
					.setCameraFacing(sharedPreferences.getInt("camera", CameraFacing.REAR_FACING_CAMERA))
					.setCameraResolution(CameraResolution.HIGH_RESOLUTION)
					.setImageFormat(CameraImageFormat.FORMAT_JPEG)
					.setImageRotation(sharedPreferences.getInt("rotation", CameraRotation.ROTATION_0))
					.

[2018-10-02 10:02] pavlomelnyk opened #41 "permission denied for window type 2006"
Hello.
Help needed please.

W/System.err: android.view.WindowManager$BadTokenException: Unable to add window android.view.ViewRootImpl$WEx@ab0bdc9 -- permission denied for window type 2006
W/System.err:     at android.view.ViewRootImpl.setView(ViewRootImpl.java:829)
W/System.err:     at android.view.WindowManagerGlobal.addView(WindowManagerGlobal.java:368)
W/System.err:     at android.view.WindowM

[2018-10-02 10:37] pavlomelnyk commented on #41
Ok I see you fixed that at 1.3.4
"/**
     * Add camera preview to the root of the activity layout.
     *
     * @return {@link CameraPreview} that was added to the view.
     */
    private CameraPreview addPreView() {
        //create fake camera view
        CameraPreview cameraSourceCameraPreview = new CameraPreview(this, this);
        cameraSourceCameraPreview.setLayoutParams(new ViewGroup

[2018-10-02 10:40] pavlomelnyk opened #42 "com.androidhiddencamera.CameraPreview not attached to window manager"
Hello
Help needed please.

java.lang.RuntimeException: Unable to stop service CaptureImageService@4dd86f3: java.lang.IllegalArgumentException: View=com.androidhiddencamera.CameraPreview{bdca1f1 V.E...... ......I. 0,0-1,1} not attached to window manager
        at android.app.ActivityThread.handleStopService(ActivityThread.java:3657)
        at android.app.ActivityThread.-wrap26(Unknown Source:0)

[2018-10-03 07:47] pavlomelnyk commented on #42
Hi. So I managed to workaround this issue by
`public class CaptureImageService extends HiddenCameraService {

    @Override

    public void onDestroy() {
           //super.onDestroy();
    }
...`

but it is not how it should be done:)
Waiting for your support. Thanks

[2018-10-10 19:15] androidnoob123 opened #43 "Burst/multiple images?"
Hi,

Can someone please suggest how to take multiple images with the help of the service -- one after other repeatedly say for like 3 times (or if possible, take all at the same time without doing the saveImage first.)

Thank you!

[2018-10-10 19:18] androidnoob123 commented on #13
How can we take multiple image with the help of the service? tried adding in the onImageCapture callback but it gives java.lang.RuntimeException: Camera is being used after Camera.release() was called error.

[2018-10-11 21:13] androidnoob123 commented on #6
@sid96 can you please show how to take images in burst mode?

[2018-10-13 17:49] sknepal commented on #43
You can increase a static variable on the callback (onImageCapture) and start takePicture(). Something along the lines of:

[code]

However, its possible that you will run into an issue on HiddenCameraService.java. On takePicture(), because the else case for mCameraPreview.isSafeToTakePictureInternal() is not handled, the camera will stay open forever until the main service is closed forcefully. T

[2018-10-15 23:04] sknepal commented on #27
Same here. Android 8.

[2018-10-17 03:48] #43 closed, assigned to nobody

[2018-10-17 06:18] in-skyadav commented on #36
I am getting the same error, once I took the picture touch on whole window view is disabled and I am not able to do anything...
only notification panel and bottom navigation bar touch is working.

[2018-10-18 21:14] androidnoob123 commented on #36
Hi guys, I had similar problems with this library. I used the one linked below instead and it worked fine for me in Android 0. See the closed issue over there where I have posted how to make it take multiple pictures.

https://github.com/KAditi/Camera-Application

Regarding the window view disabled problem, I think the camera open (or maybe something else?) is working on the main thread and its bl

[2018-10-18 21:24] androidnoob123 commented on #29
You can move the file to a different place in onImageCapture callback. See example here: https://github.com/sagan/android-hidden-camera/blob/master/app/src/main/java/me/sagan/magic/MagicService.java

Tool.java has the code to move the file.

[2018-10-18 21:26] androidnoob123 commented on #27
I think the camera.open is launching on main thread and thats why its blocking UI and leading to lags..try https://github.com/KAditi/Camera-Application. It gives no problem; it uses asynctask.

[2018-11-07 17:15] pedrofsn opened #44 "java.lang.RuntimeException: getParameters failed (empty parameters)"
Moto G (2nd Gen) Android 6.0

[code]

and

XIAOMI Redmi 5 Android 7.1.2
[code]

[2018-11-10 15:03] viks178 commented on #27
I think some changes in HiddenCameraService.java can solve this issue.

Change this line (in HiddenCameraService.java, line 130)
`WindowManager.LayoutParams.FLAG_WATCH_OUTSIDE_TOUCH`
to a line
`WindowManager.LayoutParams.FLAG_NOT_FOCUSABLE`

@gaynor @sknepal @shobhan1595 ☝🏻try this too

@kevalpatel2106 What you think about this? Can we make a change?

[2018-11-22 15:41] JhoanesFreitas commented on #38
Me too

[2018-11-22 20:12] JhoanesFreitas commented on #29
`CameraConfig().getBuild(context).setImageFile(your file).....build()`

[2018-12-08 04:50] Tripwana opened #46 "Using External Camera"
Is It Possible To Use External Camera not just Front or Rear?

[2018-12-10 11:47] Shahxad-Akram opened #47 "How to capture Image in Service??"
can anyone provide an example to capture image in background??

[2018-12-11 07:06] al-shivani commented on #47
Hi ,
Please check the DemoCamService in given Example.

[2018-12-12 11:33] aaryan1 commented on #16
Caused by: android.view.WindowManager$BadTokenException: Unable to add window android.view.ViewRootImpl$W@88fb2d0 -- permission denied for window type 2010

i m getting this error in android o  please write me solution .

[2018-12-21 07:48] al-shivani commented on #36
I am facing the same issue, but the sample app is working fine.
@Kunal1093 did you get any other solution for this.

[2018-12-24 14:35] Pognio10 commented on #36
does anyone have a solution?

[2018-12-26 15:08] Pognio10 opened #48 "Take multiple photo background"
I'm trying to take more pictures in the background every 5 seconds, but give me this error Can not create handler inside thread that has not called Looper.prepare ()

Has anyone tried to do something like this or did it?

[2018-12-28 04:51] al-shivani commented on #25
Hi @Pinjari
I am facing the same issue. Did you get any solution for this.

[2019-01-13 22:41] Thisishowwedoit-2Moons commented on #48
Use this to handle your problem

[code]

[2019-01-14 13:04] Thisishowwedoit-2Moons commented on #29
Do not forget to add WRITE_EXTERNAL_STORAGE and READ_EXTERNAL_STORAGE permsissions and to add the file autority provider to work aswell as expected by android

`@Override
    public void onImageCapture(@NonNull File imageFile) {
        BitmapFactory.Options options = new BitmapFactory.Options();
        options.inPreferredConfig = Bitmap.Config.RGB_565;
        Bitmap bitmap = BitmapFactory.decod

[2019-01-14 13:06] Thisishowwedoit-2Moons commented on #28
see solution here
https://github.com/kevalpatel2106/android-hidden-camera/issues/29#issuecomment-453997806

[2019-01-15 23:27] codenoid opened #49 "[ASK] kotlin usage"
hi, i'm facing some problem with this library

[https://stackoverflow.com/questions/54207900/kotlin-android-capture-image-in-background](https://stackoverflow.com/questions/54207900/kotlin-android-capture-image-in-background)

[2019-01-24 13:33] tjhannes commented on #36
I had the same issue but using the latest version from this repo and including it as a project helps
`implementation project(':hiddencamera')`

[2019-01-31 23:17] kalakoff commented on #36
any solution for this issue?

[2019-02-04 09:07] tjhannes commented on #36
Yes, just use the most recent files from the github repo (instead of version 1.3.3 as mentioned in the readme instructions). Now everything works fine for me

[2019-02-04 09:21] al-shivani commented on #36
Hi tjhannes

I did the same, Its working good for all devices except OnePlus 5. Do you have any solution for same?

[2019-02-04 09:44] tjhannes commented on #36
I tested it only on Huawei P20, not sure about other devices

[2019-03-08 09:49] areemadev commented on #38
Me too

[2019-03-27 10:37] Mayuridayla opened #50 "How to use in higher version like oreo"
Hello sir ,
we have implement these repo with using foreground services in lower version its working fine but when we go for higher version (OS 8.0.0) like Oreo . It gets hang our device.
We want to capture images continuously through using service either job scheduler.

Please help us regarding that issues, that how can i implement this feature with continuous capturing.

Thanks
Mayuri

[2019-04-06 12:52] InadullaevMakhmudjon commented on #41
Thank you this worked me

[2019-05-23 09:15] opeabdul opened #51 "Handling Camera Not Open Error Case"
What is the best approach to handle camera not instantiating error is there a way to retry opening the camera after the error?

[2019-05-23 10:29] #51 closed, assigned to nobody

[2019-05-23 12:53] mirsamantajbakhsh opened #52 "Ask for Streaming"
I've searched for any hidden camera streamer for android. I've found lots of RTMP streamers but they all need activity for a SurfaceView for preview action. I've found based on your library and other questions like in [this link](https://stackoverflow.com/questions/17041333/android-how-to-create-invisible-camera-preview-for-video-recording) and [this link](https://stackoverflow.com/questions/16907

[2019-06-02 14:11] mirsamantajbakhsh commented on #52
Based on your library, I finally could create a hidden live video stream library named Live Hidden Camera.

https://github.com/mirsamantajbakhsh/LiveHiddenCamera

[2019-06-02 14:11] #52 closed, assigned to nobody

[2019-07-04 06:00] teocci commented on #50
Use the last  version, this was fixed in the Release v1.3.3, always check [the latest release][1].

[1]: https://github.com/kevalpatel2106/android-hidden-camera/releases/tag/v1.3.5

[2019-07-18 13:22] ladroshan opened #54 "Capture Image From Back Camera"
On same activity Only front camera works, rear camera doesn't work parallel.

[2019-08-06 15:31] ansyori28 opened #55 "How to Clear Cache after taking picture?"
Hello, this is a great library and I used it a lot.
I have a question. Can I can clear the application cache after **takePicture()** is called?
Correct me if I'm wrong. I think this library take the picture and save it in the application cache. So whenever **takePicture()** is called, the application cache is keep increasing.

[2019-08-07 17:20] juancresc opened #56 "ERROR_CAMERA_OPEN_FAILED"
I'm using DemoCamActivity in my device (Android 5.0.1 API 21) and sometimes I got this error: CameraError.ERROR_CAMERA_OPEN_FAILED. And the toast that states it.
But oddly, sometimes it works as expected.
I'm running from android studio.
Possibles ideas on what could be happening this issue?

[2019-08-13 07:44] sudhadonde commented on #25
Hello, @Pinjari
Hello @al-shivani

Do you found any solution for this, I am facing the same issue, it's working well on all other mobiles expect oppo mobiles, I am using a spy camera in service it clicks photo only once and stop capturing image with message "camera permission deny"  please help if you found any solution for this, thank you.

[2019-11-04 18:50] LuciaNunezYanez commented on #47
Hola, recreé la aplicación completa y el Activity y Fragment funcionaron, pero no el servicio! Y esta exactamente igual

[2019-11-13 02:33] gmolina75 commented on #6
Add:
SurfaceTexture st = new SurfaceTexture(MODE_PRIVATE);
pCamera.setPreviewTexture(st);
before:
pCamera.startPreview();

works for me on honeywell ED70 , android 7

[2020-01-22 00:06] LuiguiBalarezo commented on #47
Not Working

startService(new Intent(MainActivity.this, DemoCamService.class));

[2020-02-21 20:36] LuciaNunezYanez opened #57 "Background camera not initialized. Call startCamera() to initialize the camera."

[2020-02-24 10:54] SonicCodes commented on #16
The Error comes because android blocked this type of overlay for system apps only for security purposes after Android O. You can consider using TYPE_APPLICATION_OVERLAY, which the window appears under crucial System Overlays (Status bar,Menu, ...)

[2020-03-07 17:17] d-william commented on #54
This should do it :
[code]

[2020-04-01 10:58] stinalina commented on #50
Did you solve your problem? I also want to capture images continuosly by using a backgroundService but  the onImageCapture-Method is never been called.

[2020-05-31 07:16] rohit901 opened #58 "Running Service using Periodic workmanager, the device hangs after some time"
My device is ROG Phone 2, (Android 10), and this issue was also observed on other android devices as well, I'm using the work manager class to periodically run this library as a service every 15 minutes.

The photo is captured in the background as desired, and also saved in the cache folder, but the problem is that this works for few photos (say like 15-20), and at one point it suddenly makes my d

[2020-05-31 07:24] rohit901 commented on #58
I have removed Firebase from the app thinking it was causing the problem, but still the problem exists.

[2020-05-31 14:22] rohit901 commented on #58
Sorry for the spam, but after debugging i realized that this hanging of the app is happening whenever i reboot my device and right after the work manager fires the work.
I tried to debug the issue and realized that safeToTakePicture variable is false and hence i'm not able to get desired results, so any fixes for this?

[2020-08-05 18:36] aksabina commented on #57
Did you register service in Manifest file?
This solved my issue

[2020-11-12 04:30] #37 closed

[2021-11-19 01:50] CaydenPierce commented on #30
Anyone luck here @jishindev ? We need this too and will look into adding it if no one has done so.

[2022-01-26 09:42] mmehdi opened #59 "Compatibility with Android 10"
Hi,
is this library still working for Android 10? I can't seem to get it working using the background service

[2022-03-02 13:46] AdarWa opened #60 "java.lang.RuntimeException: takePicture failed"
[code]

when the application instance taking picture the first time it works fine, but in the second time it throws me this error.
I'm using LGE LM-K520 device android 11.
this is the code:
`findViewById(R.id.pic).setOnClickListener((a) -> takePicture());`

Thank You!!!

[2022-06-03 05:25] kushalshah-invx commented on #60
Hey @TopGgg ,
I am facing the same issue. Have you find the solution of it?
Please help.

[2022-06-27 14:30] AdarWa commented on #60
No, i haven't.
I just replaced the library with direct call to CameraX...

[2022-07-18 10:35] arghamza commented on #60
Hey @TopGgg can we talk somewhere about the CameraX transition ?

[2022-07-18 11:52] AdarWa commented on #60
Sure,
Message me on discord(TopG#5557).

[2022-09-15 02:28] bingo125 commented on #16
thx